<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
    <title>International Heights Hotel</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<h1>Local Attractions</h1>
<nav>
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a class="active" href ="attractions">Local Attractions</a></li>
        <li><a href ="bookings">Bookings</a></li>
        <li><a href ="reviews">Reviews</a></li>
    </ul>
</nav>
</body>
</html>
