<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
    <title>International Heights Hotel</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<h1>Local Attractions</h1>
<nav>
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a class="active" href ="attractions">Local Attractions</a></li>
        <li><a href ="bookings">Bookings</a></li>
        <li><a href ="reviews">Reviews</a></li>
    </ul>
</nav>

<div class = "attraction">
<h2>Kenedy Space Center (NASA)</h2>
<div class = "localAttractionImage">
<img src="/static/hc5.jpg" alt="Nasa" width="300" height="200">
</div>
<div class = "attractionText">
<p>
In quando dicant pri, adhuc consetetur ne qui. Ei ius iisque volutpat neglegentur, habeo doctus id eam. Dolore commodo philosophia eu eos, elitr adolescens philosophia ne cum, no posse melius offendit vim. Erant denique salutatus pri at, vix ne putant inermis, eam no utamur inermis. Quidam virtute vix ne, qui no paulo constituam, eu fugit consetetur sit.
Eam ei vocibus mnesarchum. Epicuri volutpat persecuti sit no. Nec case quas graeci ex. Ad deleniti elaboraret per, diam meis iudico nam eu. Vim brute vocent incorrupte et, in odio laudem iuvaret sed. Et eum solum cetero hendrerit, populo consetetur et his, ea facer urbanitas percipitur per.
Nobis latine vim ne, ut eum wisi primis. Inermis vituperata referrentur ea duo, viris tollit propriae duo cu. Sit maiestatis scripserit ea, hinc splendide vis eu. Te putent utamur disputationi vim, duo vero inciderint in, ut quo commodo labores singulis.
Molestie expetenda no his. At mel vidit commodo maluisset. Eos enim aliquip definitiones cu. Per dicam intellegebat ad, virtute consequat duo an. Nam cu civibus voluptatum, sed tantas soleat ea. Est vulputate mediocritatem an.
<br>
</p>
</div>
</div>


<div class = "attraction">
<h2>Disney World</h2>
<div class = "localAttractionImage">
<img src="/static/hc6.jpeg" alt="Nasa" width="300" height="200">
</div>
<div class = "attractionText">
<p>
In quando dicant pri, adhuc consetetur ne qui. Ei ius iisque volutpat neglegentur, habeo doctus id eam. Dolore commodo philosophia eu eos, elitr adolescens philosophia ne cum, no posse melius offendit vim. Erant denique salutatus pri at, vix ne putant inermis, eam no utamur inermis. Quidam virtute vix ne, qui no paulo constituam, eu fugit consetetur sit.
Eam ei vocibus mnesarchum. Epicuri volutpat persecuti sit no. Nec case quas graeci ex. Ad deleniti elaboraret per, diam meis iudico nam eu. Vim brute vocent incorrupte et, in odio laudem iuvaret sed. Et eum solum cetero hendrerit, populo consetetur et his, ea facer urbanitas percipitur per.
Nobis latine vim ne, ut eum wisi primis. Inermis vituperata referrentur ea duo, viris tollit propriae duo cu. Sit maiestatis scripserit ea, hinc splendide vis eu. Te putent utamur disputationi vim, duo vero inciderint in, ut quo commodo labores singulis.
Molestie expetenda no his. At mel vidit commodo maluisset. Eos enim aliquip definitiones cu. Per dicam intellegebat ad, virtute consequat duo an. Nam cu civibus voluptatum, sed tantas soleat ea. Est vulputate mediocritatem an.
<br>
</p>
</div>
</div>


<div class = "attraction">
<h2>SEA LIFE Orlando Aquarium</h2>
<div class = "localAttractionImage">
<img src="/static/hc8.jpeg" alt="Nasa" width="300" height="200">
</div>
<div class = "attractionText">
<p>
In quando dicant pri, adhuc consetetur ne qui. Ei ius iisque volutpat neglegentur, habeo doctus id eam. Dolore commodo philosophia eu eos, elitr adolescens philosophia ne cum, no posse melius offendit vim. Erant denique salutatus pri at, vix ne putant inermis, eam no utamur inermis. Quidam virtute vix ne, qui no paulo constituam, eu fugit consetetur sit.
Eam ei vocibus mnesarchum. Epicuri volutpat persecuti sit no. Nec case quas graeci ex. Ad deleniti elaboraret per, diam meis iudico nam eu. Vim brute vocent incorrupte et, in odio laudem iuvaret sed. Et eum solum cetero hendrerit, populo consetetur et his, ea facer urbanitas percipitur per.
Nobis latine vim ne, ut eum wisi primis. Inermis vituperata referrentur ea duo, viris tollit propriae duo cu. Sit maiestatis scripserit ea, hinc splendide vis eu. Te putent utamur disputationi vim, duo vero inciderint in, ut quo commodo labores singulis.
Molestie expetenda no his. At mel vidit commodo maluisset. Eos enim aliquip definitiones cu. Per dicam intellegebat ad, virtute consequat duo an. Nam cu civibus voluptatum, sed tantas soleat ea. Est vulputate mediocritatem an.
<br>
</p>
</div>
</div>


<div class = "attraction">
<h2>WonderWorks</h2>
<div class = "localAttractionImage">
<img src="/static/hc7.jpeg" alt="Nasa" width="300" height="200">
</div>
<div class = "attractionText">
<p>
In quando dicant pri, adhuc consetetur ne qui. Ei ius iisque volutpat neglegentur, habeo doctus id eam. Dolore commodo philosophia eu eos, elitr adolescens philosophia ne cum, no posse melius offendit vim. Erant denique salutatus pri at, vix ne putant inermis, eam no utamur inermis. Quidam virtute vix ne, qui no paulo constituam, eu fugit consetetur sit.
Eam ei vocibus mnesarchum. Epicuri volutpat persecuti sit no. Nec case quas graeci ex. Ad deleniti elaboraret per, diam meis iudico nam eu. Vim brute vocent incorrupte et, in odio laudem iuvaret sed. Et eum solum cetero hendrerit, populo consetetur et his, ea facer urbanitas percipitur per.
Nobis latine vim ne, ut eum wisi primis. Inermis vituperata referrentur ea duo, viris tollit propriae duo cu. Sit maiestatis scripserit ea, hinc splendide vis eu. Te putent utamur disputationi vim, duo vero inciderint in, ut quo commodo labores singulis.
Molestie expetenda no his. At mel vidit commodo maluisset. Eos enim aliquip definitiones cu. Per dicam intellegebat ad, virtute consequat duo an. Nam cu civibus voluptatum, sed tantas soleat ea. Est vulputate mediocritatem an.
<br>
</p>
</div>
</div>

</body>
</html>
