<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>International Heights Hotel</title>
    <link rel="stylesheet" type="text/css" href ="/static/style.css">
</head>
<body>

<h1>International Heights Hotel</h1>

<nav>
    <ul>
        <li><a class="active" href="">Home</a> </li>
        <li><a href ="attractions">Local Attractions</a></li>
        <li><a href ="bookings">Bookings</a></li>
        <li><a href ="reviews">Reviews</a></li>
    </ul>
</nav>

<div class="imgGallery">
    <img src="/static/hc1.jpeg" alt="Door Opening" width="300" height="200">
    <div class="imgDesc">Our Doors Are Wide Open For You!</div>
</div>

<div class="imgGallery">
    <img src="/static/hc2.jpg" alt="Hotel Bar" width="300" height="200">
    <div class="imgDesc">Drink Up!</div>
</div>

<div>
    <img src="/static/hc3.jpeg" alt="Rooms Outside" width="300" height="200">
    <div class="imgDesc">A Massive Choice Of Rooms!</div>
</div>

</body>
</html>
