<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>International Heights Hotel</title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href ="/static/style.css">
    </head>
<body>
    <h1>International Heights Hotel</h1>

    <a href ="attractions">Local Attractions</a>
    <a href ="bookings">Bookings</a>
    <a href ="reviews">Reviews</a>

    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/static/hc1.jpeg" alt="First Slide">
        </div>
        <div class="item">
            <img src="/static/hc2.jpg" alt="Second Slide">
        </div>
        <div class="item">
            <img src="/static/hc3.jpeg" alt="Third Slide">
        </div>
    </div>
</div>

    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</body>
</html>
