<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
        <title>Hawkins Guest House</title>
    </head>
<body>
    <h1>Reviews</h1>

    <a href ="/">Home</a>
    <a href ="bookings">Bookings</a>
    <a href ="attractions">Local Attractions</a>

    <form action ="addReview" method="post">
        <input type="text" name="name">
        <input type="text" name="comment">
        <input type="submit" value="add to File">
    </form>

    <table border="1">
    {% for line in reviewList %}
    <tr>
        {% for item in line%}
        <td>
        {{item}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

</body>
</html>