<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
        <title>International Heights Hotel</title>
    </head>
<body>
    <h1>Reviews</h1>

    <a href ="/">Home</a>
    <a href ="bookings">Bookings</a>
    <a href ="attractions">Local Attractions</a>

    <h2>Leave A Review!</h2>
    <p>We hope you had a nice stay at International Heights Hotel! Please leave any comments about the quality of your stay below!</p>

    <form action ="addReview" method="post">
        Name:<br>
        <input type="text" name="name">
        <br>
        Comment:<br>
        <textarea name="comment" rows="10" cols="30"></textarea>
        <br><br>
        <input type="submit" value="Post">
    </form>

    <form action = "exitForm" method = "get">
        <input type = "submit" value = "Exit" >
    </form>

    <h3>Guest Reviews</h3>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
    {% for line in reviewList %}
    <tr>
        {% for item in line%}
        <td>
        {{item}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

</body>
</html>